{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":28},"action":"insert","lines":["SetEnv MAGICK_THREAD_LIMIT 1"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":28},"end":{"row":0,"column":28},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1568420974164,"hash":"c3c8a72c46ed7d5a2311b24bbee7ad02545860ce"}